<main class="contact">
    <section id="contactForm">
        <form  [@slideIn]="isVisible ? 'visible' : 'hidden'" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <section>
                <div>
                    <span>{{"contactComponent.getInTouch" | translate}}</span>
                    <h3>{{"contactComponent.contact" | translate}}</h3>
                </div>

                <div class="inputs">
                    <label for="name">{{"contactComponent.yourName" | translate}}</label>
                    <input #name="ngModel" minlength="3" [(ngModel)]="contactData.name" name="name" type="text"
                        [placeholder]="namePlaceholder | translate" required autocomplete="off">
                    @if (!name.valid && name.touched) {
                    <span class="validation-ctn">{{"contactComponent.nameValidation" | translate}}</span>
                    }
                </div>
                <div class="inputs">
                    <label for="email">{{"contactComponent.yourEmail" | translate}}</label>
                    <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email"
                        [placeholder]="emailPlaceholder | translate" required
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" autocomplete="off">
                    @if (!email.valid && email.touched) {
                    <span class="validation-ctn">{{"contactComponent.emailValidation" | translate}}</span>
                    }
                </div>
                <div class="inputs">
                    <label for="name">{{"contactComponent.yourMessage" | translate}}</label>
                    <textarea #message="ngModel" class="invisible-scrollbar" [(ngModel)]="contactData.message"
                        name="message" type="text" [placeholder]="messagePlaceholder | translate" required></textarea>
                    @if (!message.valid && message.touched) {
                    <span class="validation-ctn">{{"contactComponent.messageValidation" | translate}}</span>
                    }
                </div>
                <div class="privacy-policy-check-ctn">
                    <div>
                        <input #checkBox="ngModel" [(ngModel)]="checked" type="checkbox" name="checkBox" required>
                        <p>{{ "contactComponent.isRead" | translate }} <a href="privacy-policy" target="_blank">{{
                                "contactComponent.privacyPolicy" | translate }}</a> {{
                            "contactComponent.acceptPrivacyPolicy" | translate }}
                        <p>
                    </div>
                    @if(!checkBox.valid && contactForm.submitted){
                    <span  class="validation-ctn">{{ "contactComponent.privacyValidation" | translate }}</span>
                    }
                </div>
            </section>
            <button [disabled]="contactForm.invalid" type="submit">{{ "contactComponent.sendButton" | translate }}<img
                    src="assets/icons/email-send-white.png" alt=""></button>
        </form>
        <a class="back-to-top-arrow" href="#"><img src="assets/icons/curved-arrow-right-to-top-icon-white.png" alt=""></a>
    </section>

    @if (contactForm.submitted && userFeedbackPopup) {
    <app-user-feedback [positiveUserFeedback]="positiveUserFeedback"></app-user-feedback>
    }
</main>