<main class="imprint">
    <section>
        <h1>{{ "IMPRINT.imprint" | translate }}</h1>

        <p>Anthony Hamon<br />
        wickratherstr,  62<br />
        41363 J&uuml;chen</p>
        
        <h2>{{ "IMPRINT.contact" | translate }}</h2>
        <p>{{ "IMPRINT.phone" | translate }}: 017672373759 <br/>
            {{ "IMPRINT.email" | translate }}: info&#64;anthony-hamon.com</p>
        
        <p>{{ "IMPRINT.source" | translate }}: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </section>
    
</main>
