<main>
    <div class="above-the-fold">
        <div class="hello-world-ctn">
            <div class="hello-world">
                <h1>Hello World!</h1>
                <div>
                    <p>{{ "landingPageComponent.I" | translate }} <span id="personal-name">
                            <ngx-typed-writer [strings]="['Anthony,']" [cursorChar]="'|'"
                                [backSpeed]="50" [typeSpeed]="150" [loop]="true" [startDelay]="1000" [showCursor]="false" >
                            </ngx-typed-writer>
                        </span><br>
                       {{ "landingPageComponent.ambitionedDeveloper" | translate }}
                    </p>
                </div>
                <a href="#contact">{{ "landingPageComponent.getInTouch" | translate }}</a>
            </div>
        </div>
    
        <img [ngClass]="currentLanguage" src="./assets/img/portrait.webp" alt="above-the-fold-background">
    </div>
    <app-social-links-bar></app-social-links-bar>
</main>
