<main class="privacy-policy">
    <h1>{{ "PRIVACY_POLICY.title" | translate }}</h1>
    <section>
        <h2>{{ "PRIVACY_POLICY.section1.title" | translate }}</h2>
        <div>
            <h3>{{ "PRIVACY_POLICY.section1.generalInfo.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section1.generalInfo.description" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section1.dataCollection.title" | translate }}</h3>
            <h4>{{ "PRIVACY_POLICY.section1.dataCollection.responsible.title" | translate }}</h4>
            <p>{{ "PRIVACY_POLICY.section1.dataCollection.responsible.description" | translate }}</p>
            <h4>{{ "PRIVACY_POLICY.section1.dataCollection.howCollect.title" | translate }}</h4>
            <p>{{ "PRIVACY_POLICY.section1.dataCollection.howCollect.description1" | translate }}</p>
            <p>{{ "PRIVACY_POLICY.section1.dataCollection.howCollect.description2" | translate }}</p>
            <h4>{{ "PRIVACY_POLICY.section1.dataCollection.useOfData.title" | translate }}</h4>
            <p>{{ "PRIVACY_POLICY.section1.dataCollection.useOfData.description" | translate }}</p>
            <h4>{{ "PRIVACY_POLICY.section1.dataCollection.rights.title" | translate }}</h4>
            <p>{{ "PRIVACY_POLICY.section1.dataCollection.rights.description1" | translate }}</p>
            <p>{{ "PRIVACY_POLICY.section1.dataCollection.rights.description2" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section1.analysisTools.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section1.analysisTools.description1" | translate }}</p>
            <p>{{ "PRIVACY_POLICY.section1.analysisTools.description2" | translate }}</p>
        </div>
    </section>

    <section>
        <h2>{{ "PRIVACY_POLICY.section2.title" | translate }}</h2>
        <div>
            <p>{{ "PRIVACY_POLICY.section2.hostingInfo.description" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section2.hostingInfo.provider.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section2.hostingInfo.provider.details" | translate }} <a href="https://www.ionos.de/terms-gtc/terms-privacy" target="_blank" rel="noopener noreferrer">https://www.ionos.de/terms-gtc/terms-privacy</a>.</p>
            <p>{{ "PRIVACY_POLICY.section2.hostingInfo.legalBasis.description" | translate }}</p>
            <h4>{{ "PRIVACY_POLICY.section2.hostingInfo.dataProcessingAgreement.title" | translate }}</h4>
            <p>{{ "PRIVACY_POLICY.section2.hostingInfo.dataProcessingAgreement.description" | translate }}</p>
        </div>
    </section>


    <section>
        <h2>{{ "PRIVACY_POLICY.section3.title" | translate }}</h2>
        <div>
            <h3>{{ "PRIVACY_POLICY.section3.dataProtection.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.dataProtection.description1" | translate }}</p>
            <p>{{ "PRIVACY_POLICY.section3.dataProtection.description2" | translate }}</p>
            <p>{{ "PRIVACY_POLICY.section3.dataProtection.description3" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section3.responsibleEntity.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.responsibleEntity.description1" | translate }}</p>
            <p [innerHTML]="'PRIVACY_POLICY.section3.responsibleEntity.contactDetails' | translate"></p>
            <p>{{ "PRIVACY_POLICY.section3.responsibleEntity.description2" | translate }}</p>

            <h3>{{ "PRIVACY_POLICY.section3.storagePeriod.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.storagePeriod.description" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section3.dataProcessingLegalBases.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.dataProcessingLegalBases.description" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section3.recipientsOfPersonalData.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.recipientsOfPersonalData.description" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section3.withdrawalOfConsent.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.withdrawalOfConsent.description" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section3.rightToObject.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.rightToObject.description1" | translate }}</p>
            <p>{{ "PRIVACY_POLICY.section3.rightToObject.description2" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section3.rightToLodgeComplaint.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.rightToLodgeComplaint.description" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section3.rightToDataPortability.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.rightToDataPortability.description" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section3.sslTlsEncryption.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.sslTlsEncryption.description" | translate }}p>
            <h3>{{ "PRIVACY_POLICY.section3.informationCorrectionDeletion.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.informationCorrectionDeletion.description" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section3.rightToRestriction.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.rightToRestriction.description" | translate }}</p>
            <ul>
                <li>{{ "PRIVACY_POLICY.section3.rightToRestriction.list.1" | translate }}</li>
                <li>{{ "PRIVACY_POLICY.section3.rightToRestriction.list.2" | translate }}</li>
                <li>{{ "PRIVACY_POLICY.section3.rightToRestriction.list.3" | translate }}</li>
                <li>{{ "PRIVACY_POLICY.section3.rightToRestriction.list.4" | translate }}</li>
            </ul>
            <p>{{ "PRIVACY_POLICY.section3.rightToRestriction.description2" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section3.oppositionToAdvertisingEmails.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section3.oppositionToAdvertisingEmails.description" | translate }}</p>
        </div>
    </section>

    <section>
        <h2>{{ "PRIVACY_POLICY.section4.title" | translate }}</h2>
        <div>
            <h3>{{ "PRIVACY_POLICY.section4.cookies.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section4.cookies.description1" | translate }}</p>
            <p>{{ "PRIVACY_POLICY.section4.cookies.description2" | translate }}</p>
            <p>{{ "PRIVACY_POLICY.section4.cookies.description3" | translate }}</p>
            <p>{{ "PRIVACY_POLICY.section4.cookies.description4" | translate }}</p>
            <h3>{{ "PRIVACY_POLICY.section4.serverLogFiles.title" | translate }}</h3>
            <p>{{ "PRIVACY_POLICY.section4.serverLogFiles.description1" | translate }}</p>
            <ul>
                <li>{{ "PRIVACY_POLICY.section4.serverLogFiles.list.1" | translate }}</li>
                <li>{{ "PRIVACY_POLICY.section4.serverLogFiles.list.2" | translate }}</li>
                <li>{{ "PRIVACY_POLICY.section4.serverLogFiles.list.3" | translate }}</li>
                <li>{{ "PRIVACY_POLICY.section4.serverLogFiles.list.4" | translate }}</li>
                <li>{{ "PRIVACY_POLICY.section4.serverLogFiles.list.5" | translate }}</li>
                <li>{{ "PRIVACY_POLICY.section4.serverLogFiles.list.6" | translate }}</li>
            </ul>
            <p>{{ "PRIVACY_POLICY.section4.serverLogFiles.description2" | translate }}</p>
        </div>
    </section>

    <p>{{ "IMPRINT.source" | translate }}: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

</main>