@use '../../../../styles.scss' as f;

.technology-link{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 88px;
    height: 100px;

    >a{
         @include f.flex(start);
         flex-direction: column;
         color: white;

         >span{
            text-align: center;
         }
    }
}


@media screen and (max-width:680px) {

    .technology-link{
        >a{
            >img{
                width: 45px;
                height: 45px;
                object-fit: contain;
            }
        }
    }
}