@use '../../../../styles.scss' as f;
@use '../../../app.component.scss' as shadow;

:host{
    position: absolute;
    bottom: 0;

    @media screen and (height < 740px ) {
        display: none;
    }
}

main {
    @include f.flex(center, start);
}

.social-links-ctn {
    @include f.flex(start);
    background-color: black;
    width: 100%;
    gap: 42px;
    max-width: f.$maxWidth;

    >hr {
        border-color: white;
        border-width: 2px;
        border-style: solid;
        width: 80px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .social-links {
        @include f.flex(start);
        padding: 12px;
        gap: 42px;

        >a {
            @include f.flex(start);
            color: white;

            >img:hover {
                transition: all .225s ease-in-out;
                transform: scale(1.15);
            }
        }
    }
}


@media screen and (max-width: 600px) {
    #email-adress{
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .social-links-ctn{
        gap: 24px;
    }
}