<main>
    <section class="social-links-ctn">
        <hr>
        <div class="social-links">
            <a href="https://linkedin.com/in/anthony-hamon91" target="_blank"><img src="./assets/icons/linkedin.png" alt=""></a>
            <a href="#contact"><img src="./assets/icons/email.png" alt=""></a>
            <a href="https://github.com/AnthonyHamon" target="_blank"><img src="./assets/icons/github.png" alt=""></a>
            <a id="email-adress" href="mailto: contact@anthony-hamon.com" type="email">contact&#64;anthony-hamon.com</a>
        </div>
    </section>
</main>


