// @use '../../../styles.scss' as f;
// @use '../../app.component.scss' as shadow;

// :host{
//     position: relative;
// }

// .portfolio{
//     @include f.flex(center);
//     flex-direction: column;
//     @include shadow.top-shadow();
//     width: 100%;
//     background-color: rgb(244, 244, 246);
//     gap: 36px;
//     padding: 54px 0;
//     position: relative;
//     z-index: 1;
//     overflow: hidden;


//     >h2{
//         width: 70%;
//         @include f.flex(start);
//         font-size: 90px;
//         color: black;
//     }

//     ::before{
//     content: "";
//     background-color: #1F1f1F;
//     position: absolute;
//     height: 170%;
//     width: 170%;
//     top: 0;
//     bottom: 0;
//     right: -100%;
//     z-index: 0;
//     transform: rotate(45deg);
//     }

// }

// .reverse-card{
//     justify-content: end !important;
// }




@use '../../../styles.scss' as f;

:host {
    position: relative;
    @include f.flex(center);
}

.portfolio {
    @include f.flex(center);
    flex-direction: column;
    width: 90%;
    background-color: rgb(244, 244, 246);
    gap: 36px;
    padding: 54px 0;
    margin-top: 54px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 20px;
    max-width: f.$maxWidth;



    >h2 {
        width: 80%;
        font-size: 90px;
        color: black;
        padding-bottom: 54px;
    }

    ::before {
        content: "";
        background-color: #1F1f1F;
        background-color: #1C1C1C;
        position: absolute;
        height: 175%;
        width: 175%;
        top: 0;
        bottom: 0;
        right: -100%;
        z-index: 0;
        transform: rotate(45deg);
    }

}

.reverse-card {
    justify-content: end !important;
}


@media screen and (max-width:1150px) {
    .reverse-card {
        flex-direction: column;
        justify-content: center;

        >img {
            width: 100%;
            height: 100%;
        }
    }


.portfolio {

    ::before{
        transform: rotate(33deg);
        height: 140%;
        width: 200%;
    }
}

}

@media screen and (max-width:680px) {
.portfolio{
    >h2{
        font-size: 45px;
        padding-bottom: 24px;
    }
}
}