<main [ngClass]="{'project-card': true, 'reverse-card': odd}" id="project">
        <img src="{{ project.projectPicture }}" alt="">
        <section [@slideInRight]="isVisible && even ? 'visible' : 'hidden'" [@slideInLeft]="isVisible && odd ? 'visible' : 'hidden'" [ngClass]="{'project-description': true, 'reverse-project-description': odd}">
            <div>
                <h3>{{ project.projectName }}</h3>
                <span>{{ project.usedTechnologies }}</span>
                <p>{{ 'projectComponent.' + project.projectDescription | translate }}</p> 
            </div>
    
            <div class="links">
                <a id="liveTestLink" href="{{ project.liveDemoLink }}" target="_blank">{{ "projectComponent.liveTestLink" | translate }}</a>
                <a href="{{ project.githubLink }}" target="_blank"><img src="assets/icons/github-white.png" alt=""></a>
            </div>
    </section> 
</main>